<!doctype html>
<html lang="en">
  <head>
    <title>Product Category</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style4.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
  </head>
  <body>
      <h2>Antiboitics medicines list</h2>
    <div class="card">
        <img src="/assets/img/1.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Safodox-200</h1>
        <p class="price">$19.99</p>
        
      </div>        
      <div class="card">
        <img src="/assets/img/2.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Cefuroxime </h1>
        <p class="price">$40</p>
        
      </div>       
      <div class="card">
        <img src="/assets/img/3.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Azante-Kid </h1>
        <p class="price">$30</p>
        
      </div>       
      <div class="card">
        <img src="/assets/img/4.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Sanvus-Az </h1>
        <p class="price">$12</p>
        
      </div>       
      <div class="card">
        <img src="/assets/img/5.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Sanvus-O </h1>
        <p class="price">$16</p>
        
      </div>       
      <div class="card">
        <img src="/assets/img/12.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Clarac </h1>
        <p class="price">$11</p>
        
      </div>       
      <div class="card">
        <img src="/assets/img/8.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Albendazole </h1>
        <p class="price">$50</p>
        
      </div>       
      <div class="card">
        <img src="/assets/img/9.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Amoxicillin </h1>
        <p class="price">$40</p>
        
      </div>       
      <div class="card">
        <img src="/assets/img/11.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Citrem plus </h1>
        <p class="price">$10</p>
        
      </div>       
      <div class="col-lg-12 text-center">
        <button class="button">More items</button>
        
    </div> 
                  
                  
    </body>
    </html>























