
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Cart List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>userId</th>
            <th>quantity</th>
            <th>itemId</th>
            <th>Actions</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cart of cart | async">
            <td>{{cart.id}}</td>
            <td>{{cart.quantity}}</td>
            <td>{{cart.itemId}}</td>
            
            <td><button (click)="deleteCart(cart.id)" class="btn btn-danger">Delete</button>
              <button (click)="updateCart(cart.id)" class="btn btn-info">Edit</button>
                <button (click)="cartDetails(cart.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
