
  <header class="ScriptHeader">
    <div class="rt-container">
      <div class="col-rt-12">
          <div class="rt-heading">
              
            </div>
        </div>
    </div>
  </header>
  
  <section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
               <div>
            <div class="container">
                <div class="contact-parent">
                    <div class="contact-child child1">
                        <p>
                            <i class="fas fa-map-marker-alt"></i> Address <br />
                            <span> vasu hospital near mailoor cross
                                <br />
                                Bidar.
                            </span>
                        </p>
  
                        <p>
                            <i class="fas fa-phone-alt"></i> Let's Talk <br />
                            <span> 9945678954</span>
                        </p>
  
                        <p>
                            <i class=" far fa-envelope"></i> General Support <br />
                            <span>contact@hospital.com</span>
                        </p>
                    </div>
  
                    <div class="contact-child child2">
                        <div class="inside-contact">
                            <h2>Contact Us</h2>
                            
                            <!-- <form  >
                            <p>Name *</p>
                            <input id="txt_name" type="text" Required="required" ngModel>
  
                            <p>Email *</p>
                            <input id="txt_email" type="text" Required="required" ngModel>
  
                            <p>Phone *</p>
                            <input id="txt_phone" type="text" Required="required" ngModel>
  
                            <p>Subject *</p>
                            <input id="txt_subject" type="text" Required="required" ngModel>
  
                            <p>Message *</p>
                            <textarea id="txt_message" rows="4" cols="20" Required="required" ngModel></textarea>
                            
                            <input type="submit" id="btn_send" value="SEND">
                            </form> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
           
        </div>
    </div>
    </div>
    
  </section>
    
    