<body >
    

    <div class="section">
        <div class="container">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="content">
                <div class="article">
                    <h2>Welcome to India’s leading digital Healthcare Platform!!...We focus on Simplifying healthcare & Impacting lives!!...</h2>
                    <br>
                    <h3>E-Medicare is a consumer healthcare “super app” that provides consumers with on-demand, home delivered access to a wide range of prescription.</h3>
                        <p>E-Medicare offers 1 lakh+ medicines and health products across various categories through its retail partners which are spread across the country. You can simply place an order on our website/app and we will deliver your online medicine order in as low as 4 hours, with a guaranteed delivery to you in 24-48* hrs!
                            You can  pay online easily and get your medicines.</p>
                        <p>We believe that great work culture is a vital ingredient to a company’s success. Our team members are encouraged to take ownership and work as a unit. Every team member inspires and motivates other members to contribute to the team’s success.</p>
                        <p>We maintain strict quality controls on all our partner retailers, so that you always get standard quality products and 100% secure and trusted payment protection.</p>
                      
               </div>
               </div>
               <div class="image-section">
                <img src="/assets/img/emed.jpg">
            </div>
                <div class="social">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </div>
                </div>
            </div>


</body>