<!doctype html>
<html lang="en">
  <head>
    <title>Product Category</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style2.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
  </head>
  <body>
      
                  <div class="col-lg-9">
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="product-top d-flex justify-content-between align-items-center">
                                  <div class="product-sec product-item">
                                      <h2 class="my-5">Antipyretics Medicines Lists</h2>
                                  </div>
                              </div>
                          </div>
             <div class="col-lg-4 col-sm-6">
                    <div class="product-cate">
                      <div>
                   <img src="/assets/img/medi img 1.jpeg"alt="" style="width: 60%;">
                   <div class="product-icon">
                      <ul>
                    <li><a href=""><i class="fas fa-heart"></i></a> </li>
                    <li><a href=""><i class="fas fa-shopping-cart"></i></a> </li>
                    
                      </ul>
                      </div>
                      
                      <div class="product-des">
                          <h5> DOLOSER-AP</h5>
                          <p>&#8377; 30</p>
                      </div>
                      </div>
                              </div>
                          </div>
                          
                          <div class="col-lg-4 col-sm-6">
                            <div class="product-cate">
                              <div>
                           <img src="/assets/img/medi img 2.jpeg"alt="" style="width: 41%;">
                           <div class="product-icon">
                              <ul>
                            <li><a href=""><i class="fas fa-heart"></i></a> </li>
                            <li><a href=""><i class="fas fa-shopping-cart"></i></a> </li>
                            
                              </ul>
                              </div>
                             
                              <div class="product-des">
                                  <h5> SILAXIN-250</h5>
                                  <p>&#8377; 20</p>
                              </div>
                              </div>
                                      </div>
                                  </div>
                                  
                                  <div class="col-lg-4 col-sm-6">
                                    <div class="product-cate">
                                      <div>
                                          <pre></pre>
                                   <img src="/assets/img/medi img 3.jpeg"alt="" style="width: 37%;" >
                                   <div class="product-icon">
                                      <ul>
                                    <li><a href=""><i class="fas fa-heart"></i></a> </li>
                                    <li><a href=""><i class="fas fa-shopping-cart"></i></a> </li>
                                    
                                      </ul>
                                    <!-- </pre> -->
                                      </div>
                                      
                                      <div class="product-des">
                                          <h5> Ibuprofen</h5>
                                          <p>&#8377; 20</p>
                                      </div>
                                      </div>
                                              </div>
                                          </div>
                                          
               <div class="col-lg-4 col-sm-6">
                <div class="product-cate">
                  <div>
               <img src="/assets/img/medi img 4.jpeg"alt="" style="width: 53%;"> 
                   <div class="product-icon">
                      <ul>
                        <li><a href=""><i class="fas fa-heart"></i></a> </li>
                   <li><a href=""><i class="fas fa-shopping-cart"></i></a> </li>
                                            
                </ul>
                    </div>
                     
                          <div class="product-des">
                          <h5> Nicare-MD</h5>
                            <p>&#8377; 40</p>
                          </div>
                         </div>
                           </div>
                            </div>
                            
                         <div class="col-lg-4 col-sm-6">
                             <div class="product-cate">
                              <div>
                             <img src="/assets/img/medi img 5.jpeg"alt="" style="width: 66%;">
                            <div class="product-icon">
                               <ul>
                               <li><a href=""><i class="fas fa-heart"></i></a> </li>
                                 <li><a href=""><i class="fas fa-shopping-cart"></i></a> </li>
                                 </ul>
                                    </div>
                           
                           <div class="product-des">
                                  <h5> SMICORYL</h5>
                                    <p>&#8377; 51</p>
                                   </div>
                                 </div>
                                     </div>
                                       </div>
                              
                               <div class="col-lg-4 col-sm-6">
                                <div class="product-cate">
                                 <div>
                                <img src="/assets/img/medi img 6.jpeg"alt="" style="width: 45%;">
                               <div class="product-icon">
                                  <ul>
                                  <li><a href=""><i class="fas fa-heart"></i></a> </li>
                                    <li><a href=""><i class="fas fa-shopping-cart"></i></a> </li>
                                    </ul>
                                       </div>
                               
                              <div class="product-des">
                                     <h5> Peladol</h5>
                                       <p>&#8377; 35</p>
                                      </div>
                                    </div>
                                        </div>
                                          </div>
                                  
                                  <div class="col-lg-4 col-sm-6">
                                    <div class="product-cate">
                                     <div>
                                    <img src="/assets/img/medi img 7.jpeg"alt="" style="width: 66%;" >
                                   <div class="product-icon">
                                      <ul>
                                      <li><a href=""><i class="fas fa-heart"></i></a> </li>
                                        <li><a href=""><i class="fas fa-shopping-cart"></i></a> </li>
                                        </ul>
                                           </div>
                                   
                                  <div class="product-des">
                                         <h5> Xynac-200</h5>
                                           <p>&#8377; 30</p>
                                          </div>
                                        </div>
                                            </div>
                                              </div>
                                      
                                      <div class="col-lg-4 col-sm-6">
                                        <div class="product-cate">
                                         <div>
                                        <img src="/assets/img/medi img 8.jpeg"alt="" style="width: 36%;">
                                       <div class="product-icon">
                                          <ul>
                                          <li><a href=""><i class="fas fa-heart"></i></a> </li>
                                            <li><a href=""><i class="fas fa-shopping-cart"></i></a> </li>
                                            </ul>
                                               </div>
                                      
                                      <div class="product-des">
                                             <h5> Aspirin</h5>
                                               <p>&#8377; 50</p>
                                              </div>
                                            </div>
                                                </div>
                                                  </div>
                                          
                                          <div class="col-lg-4 col-sm-6">
                                            <div class="product-cate">
                                             <div>
                                            <img src="/assets/img/medi img 9.jpg"alt="" style="width: 78%;">
                                           <div class="product-icon">
                                              <ul>
                                              <li><a href=""><i class="fas fa-heart"></i></a> </li>
                                                <li><a href=""><i class="fas fa-shopping-cart"></i></a> </li>
                                                </ul>
                                                   </div>
                                           
                                          <div class="product-des">
                                                 <h5> Paracetamol</h5>
                                                   <p>&#8377; 25</p>
                                                  </div>
                                                </div>
                                                    </div>
                                                      </div>
                                             
                          <div class="col-lg-12 text-center">
                              <a href=""class="product-btn">More Items</a>
                          </div> 
                      </div>
                  </div>
              <!-- </div> -->
          <!-- </div> -->
      <!-- </section> -->
    </body>
    </html>



















